.Lane-wrapper {
  padding: 0;
  text-align: left;
  background: #0066a5;
  border-radius: 20px;
  min-height: 50vh;
  width: 20vw;

  @media (max-width: 768px) {
    margin-bottom: 5%;
  }
}

.Lane-wrapper h2 {
  width: 100%;
  padding-bottom: 1px;
  text-align: center;
  border-bottom: 1px solid #4396c9;
}
